- let c = 'dummy class'
- let v = 'dummy variable'
- let i = 'dummy id'
p.c#i= v
#i= `This is a dummy with class: ${c} and name: ${v}`

//- each
-let names = ['khoa','uyen','mo']
ul 
  each name in names 
    li= name


//- Object/List nhiều hàng bắt đầu bằng dấu "-", rồi xuống hàng tab vào
-
  const friends = [
    {
      'firstName':'Richard',
      'lastName':'Stibbard',
    },
    {
      'firstName':'Mike',
      'lastName': 'McTavish',
    }
  ]

.friends
  each friend in friends 
    .friend
      .friend__first-name= friend.firstName 
      .friend__last-name= friend.lastName 


//- Mixins
mixin friendMixin(friend)
  .friend
    .friend__first-name= friend.firstName
    .friend__last-name= friend.lastName

.friends2
  each friend in friends
    +friendMixin(friend)

//- Case -> when
- let friendNumber = 2
case friendNumber
  when 0
    p you have no friend
  default
    p you have #{friendNumber} friends

//- if
if (friendNumber === 0)
  p you have no friend